
.preference-block {
    margin-bottom: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.tindercard {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tindercard img {
    border-radius: 30px;
    max-width: 260px;
}

.tindercard-overlay {
    position: absolute;
    bottom: 0%;
    width: 100%;
    color: white;
    background-color: #393D3F;
    border-radius: 0 0 30px 30px;
}

.profileContainer {
    color: primary;
    display: block;
    margin-top: 2em;
}

.tindercard, .profileContainer {
    max-width: 260px;
    height: 300px;
}


.name {
    text-align: center;
}

.preference-row {
    display: flex;
    flex-direction: row;
}

.preference-label {
    flex-grow: 1;
}

.preference-title {
    margin-bottom: 0.5rem;
}